<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-col-wrapper">
      <!-- <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>
      </div> -->

      <div class="footer-col footer-col-1">
        <ul class="footer-nav">
          {%- for page in site.pages -%}
            {%- if page.title and page.title != "Store" and page.layout == "page" -%}
              <li>
                <a href="{{ page.url | relative_url }}">{{ page.title | escape }}</a>
              </li>
            {%- endif -%}
          {%- endfor -%}
          <li>
            <a href="https://etsy.com/shop/TigerLilyPlants">Etsy</a>
          </li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p><em>{{- site.description | escape -}}</em></p>
        <!-- <p>About the logo</p> -->
        <p class="progress-flag">Thank you for supporting queer and woman-owned businesses.</p>
      </div>
    </div>

  </div>

</footer>
