@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import "main";

.site-title {
    background-image: url("/images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
//   letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: 'Allerta Stencil', sans-serif;
    color: #c17d56;
}

body {
    font-family: 'Abel', sans-serif;
}