@charset "UTF-8";
/**
 * Reset some basic elements
 */
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  font: 400 16px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
}
a:visited {
  color: #1756a9;
}
a:hover {
  color: #111;
  text-decoration: underline;
}
.social-media-list a:hover {
  text-decoration: none;
}
.social-media-list a:hover .username {
  text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic;
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}
pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both;
}

/**
 * Icons
 */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #828282;
  padding-right: 5px;
  vertical-align: text-top;
}

.social-media-list li + li {
  padding-top: 5px;
}

/**
 * Tables
 */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: #3f3f3f;
  border-collapse: collapse;
  border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
  background-color: #f7f7f7;
}
table th, table td {
  padding: 9.999999999px 15px;
}
table th {
  background-color: #f0f0f0;
  border: 1px solid #dedede;
  border-bottom-color: #c9c9c9;
}
table td {
  border: 1px solid #e8e8e8;
}

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #424242;
  border-bottom: 1px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
}
.site-title, .site-title:visited {
  color: #424242;
}

.site-nav {
  float: right;
  line-height: 54px;
}
.site-nav .nav-trigger {
  display: none;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  color: #111;
  line-height: 1.5;
}
.site-nav .page-link:not(:last-child) {
  margin-right: 20px;
}
@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon > svg {
    fill: #424242;
  }
  .site-nav input ~ .trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked ~ .trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    margin-left: 20px;
    padding: 5px 10px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px;
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px;
}

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2));
}

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  flex: 1;
}

.page-heading {
  font-size: 32px;
}

.post-list-heading {
  font-size: 28px;
}

.post-list {
  margin-left: 0;
  list-style: none;
}
.post-list > li {
  margin-bottom: 30px;
}

.post-meta {
  font-size: 14px;
  color: #828282;
}

.post-link {
  display: block;
  font-size: 24px;
}

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
}

.post-title {
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1;
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 36px;
  }
}

.post-content {
  margin-bottom: 30px;
}
.post-content h2 {
  font-size: 32px;
}
@media screen and (max-width: 800px) {
  .post-content h2 {
    font-size: 28px;
  }
}
.post-content h3 {
  font-size: 26px;
}
@media screen and (max-width: 800px) {
  .post-content h3 {
    font-size: 22px;
  }
}
.post-content h4 {
  font-size: 20px;
}
@media screen and (max-width: 800px) {
  .post-content h4 {
    font-size: 18px;
  }
}

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff;
}
.highlighter-rouge .highlight {
  background: #eef;
}
.highlight .c {
  color: #998;
  font-style: italic;
}
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.highlight .k {
  font-weight: bold;
}
.highlight .o {
  font-weight: bold;
}
.highlight .cm {
  color: #998;
  font-style: italic;
}
.highlight .cp {
  color: #999;
  font-weight: bold;
}
.highlight .c1 {
  color: #998;
  font-style: italic;
}
.highlight .cs {
  color: #999;
  font-weight: bold;
  font-style: italic;
}
.highlight .gd {
  color: #000;
  background-color: #fdd;
}
.highlight .gd .x {
  color: #000;
  background-color: #faa;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gr {
  color: #a00;
}
.highlight .gh {
  color: #999;
}
.highlight .gi {
  color: #000;
  background-color: #dfd;
}
.highlight .gi .x {
  color: #000;
  background-color: #afa;
}
.highlight .go {
  color: #888;
}
.highlight .gp {
  color: #555;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .gu {
  color: #aaa;
}
.highlight .gt {
  color: #a00;
}
.highlight .kc {
  font-weight: bold;
}
.highlight .kd {
  font-weight: bold;
}
.highlight .kp {
  font-weight: bold;
}
.highlight .kr {
  font-weight: bold;
}
.highlight .kt {
  color: #458;
  font-weight: bold;
}
.highlight .m {
  color: #099;
}
.highlight .s {
  color: #d14;
}
.highlight .na {
  color: #008080;
}
.highlight .nb {
  color: #0086B3;
}
.highlight .nc {
  color: #458;
  font-weight: bold;
}
.highlight .no {
  color: #008080;
}
.highlight .ni {
  color: #800080;
}
.highlight .ne {
  color: #900;
  font-weight: bold;
}
.highlight .nf {
  color: #900;
  font-weight: bold;
}
.highlight .nn {
  color: #555;
}
.highlight .nt {
  color: #000080;
}
.highlight .nv {
  color: #008080;
}
.highlight .ow {
  font-weight: bold;
}
.highlight .w {
  color: #bbb;
}
.highlight .mf {
  color: #099;
}
.highlight .mh {
  color: #099;
}
.highlight .mi {
  color: #099;
}
.highlight .mo {
  color: #099;
}
.highlight .sb {
  color: #d14;
}
.highlight .sc {
  color: #d14;
}
.highlight .sd {
  color: #d14;
}
.highlight .s2 {
  color: #d14;
}
.highlight .se {
  color: #d14;
}
.highlight .sh {
  color: #d14;
}
.highlight .si {
  color: #d14;
}
.highlight .sx {
  color: #d14;
}
.highlight .sr {
  color: #009926;
}
.highlight .s1 {
  color: #d14;
}
.highlight .ss {
  color: #990073;
}
.highlight .bp {
  color: #999;
}
.highlight .vc {
  color: #008080;
}
.highlight .vg {
  color: #008080;
}
.highlight .vi {
  color: #008080;
}
.highlight .il {
  color: #099;
}

@font-face {
  font-family: Gustera;
  src: url("/assets/fonts/gustera/Gustera.ttf") format("truetype");
  font-weight: 250;
  font-style: normal;
}
.mission-statement {
  position: relative;
  /* makes this the anchor */
  max-width: 800px;
  margin: 3rem auto;
  text-align: center;
  display: table;
}

.mission-statement blockquote {
  margin: 0;
  border-left: none;
  font-style: italic;
  font-size: 1.6rem;
  line-height: 1.7;
}

.mission-statement blockquote::first-letter {
  font-size: 3rem;
  line-height: 1;
  margin-right: 0rem;
  font-weight: 250;
}

.mission-author {
  position: absolute;
  right: 3rem;
  bottom: -2.4rem;
  /* “removed” beneath the quote */
  font-family: 'Gustera', sans-serif;
  font-size: 2.25rem;
  opacity: 0.7;
  white-space: nowrap;
}

.site-header {
  padding: 14px;
  margin-bottom: 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("/images/header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: 14px solid #424242;
  border-bottom: 2px solid #e8e8e8;
  min-height: 55.95px;
  position: relative;
}

.site-footer {
  border-top: 1px solid #e8e8e8;
  background-color: #e9e9e9;
  border-bottom: 10px solid #424242;
  padding: 30px 0;
}

.footer-heading {
  padding-left: 54px;
  /* make room for image */
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("/images/favicons/web-app-manifest-192x192.png");
  background-size: 45px;
  background-repeat: no-repeat;
  background-position: left center;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.95rem;
}

.footer-nav li + li {
  margin-top: 4px;
}

.footer-nav a {
  display: inline-block;
  /* important for padding + hover effect */
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 600;
  color: #c17d56;
  text-decoration: none;
  transition: background 0.2s ease, color 0.2s ease;
}

/* visited */
.footer-nav a:visited {
  color: #a44813;
}

/* hover */
.footer-nav a:hover {
  background: radial-gradient(ellipse at center, rgba(234, 211, 198, 0.95) 0%, rgba(234, 211, 198, 0.85) 40%, rgba(234, 211, 198, 0.4) 70%, rgba(234, 211, 198, 0) 100%);
  color: #a44813;
}

.begonia-leaf-left {
  padding-left: 30px;
  /* make room for image */
  background-image: url("/images/begonia_leaf.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: left center;
}

.begonia-leaf-left-post {
  padding-left: 35px;
  /* make room for image */
  background-image: url("/images/begonia_leaf.png");
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: left center;
}

p.progress-flag {
  display: flex;
  align-items: center;
  /* vertically centers image + text */
  gap: 12px;
  margin-top: 20px;
}

p.progress-flag::before {
  content: "";
  width: 60px;
  height: 40px;
  /* adjust to match flag proportions */
  background-image: url("/images/Intersex-inclusive_pride_flag.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
}

a, .post-link {
  color: #c17d56;
}

/* visited link */
a:visited, .post-link {
  color: #a44813;
}

/* mouse over link */
a:hover, .post-link {
  color: #a44813;
}

/* selected link */
a:active, .post-link {
  color: #a44813;
}

.site-nav {
  float: right;
  line-height: 54px;
  padding: 24px 48px;
  font-weight: 600;
}

.site-nav .page-link,
.site-nav .trigger > a {
  padding: 8px 16px;
  border-radius: 8px;
  transition: background 0.2s ease;
}

.site-nav .page-link:hover,
.site-nav .trigger > a:hover {
  background: radial-gradient(ellipse at center, rgba(234, 211, 198, 0.95) 0%, rgba(234, 211, 198, 0.85) 40%, rgba(234, 211, 198, 0.4) 70%, rgba(234, 211, 198, 0) 100%);
}

.site-title {
  font-size: 35px;
  font-weight: 50;
  line-height: 70px;
  letter-spacing: 0.2rem;
  margin-top: 20px;
  float: left;
  font-family: 'Allerta Stencil', sans-serif;
  color: #a44813;
  padding-left: 82px;
  /* make room for image */
  background-image: url("/images/favicons/web-app-manifest-192x192.png");
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: left center;
}

.site-title:visited {
  color: #7a3208;
}

.site-title:hover {
  color: #7a3208;
  text-decoration: none;
}

body {
  font-family: 'Abel', sans-serif;
}

.post-list li {
  margin-bottom: 3rem;
}

.wrapper {
  width: auto;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.donation-banner p a {
  color: #f0aac7;
}

/* visited link */
.donation-banner p a:visited {
  color: #f0aac7;
}

/* mouse over link */
.donation-banner p a:hover {
  color: #f09cbf;
}

/* selected link */
.donation-banner p a:active {
  color: #f09cbf;
}

.donation-banner {
  background: linear-gradient(135deg, #5bcffb 0%, #f5abb9 50%, #ffffff 100%);
  color: #111;
  padding: 1.75rem 2rem;
  border-radius: 14px;
  font-weight: 600;
  font-size: 1.1rem;
  text-align: center;
  letter-spacing: 0.4px;
  border: 2px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 8px 24px rgba(91, 207, 251, 0.25), 0 12px 40px rgba(245, 171, 185, 0.25);
  position: relative;
  overflow: hidden;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

/* subtle sharp edge overlay */
.donation-banner::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(120deg, transparent 40%, rgba(0, 0, 0, 0.05) 50%, transparent 60%);
  mix-blend-mode: multiply;
  pointer-events: none;
}

.donation-banner:hover {
  transform: translateY(-4px);
  box-shadow: 0 14px 35px rgba(91, 207, 251, 0.35), 0 18px 50px rgba(245, 171, 185, 0.35);
}
