---
---

@charset "utf-8";

@import "minima";

@import
    url("https://fonts.googleapis.com/css2?family=Abel&display=swap"),
    url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

.site-header {
    padding: 10px;
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
//   letter-spacing: -1px;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                      url("/images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 8px solid #424242;
    border-bottom: 2px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 54px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: 'Allerta Stencil', sans-serif;
    color: #d6b9a8;
}

.site-title:visited {
    color: rgb(153, 87, 49);
}

.site-title:hover {
    color: rgb(153, 87, 49);
}

body {
    font-family: 'Abel', sans-serif;
}