---
---

@charset "utf-8";

@import "minima";

@import
    url("https://fonts.googleapis.com/css2?family=Abel&display=swap"),
    url("https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap");

.site-header {
    padding: 10px;
    margin-bottom: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
                      url("/images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top: 8px solid #424242;
    border-bottom: 2px solid #e8e8e8;
    min-height: 55.95px;
    position: relative;
}

.footer-heading {
    // Add site logo.
    padding-left: 60px; /* make room for image */
    background-image: url("/images/favicons/web-app-manifest-192x192.png");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: left center;
}

a, .post-link {
  color: #c17d56;
}
/* visited link */
a:visited, .post-link {
  color: #a44813;
}

/* mouse over link */
a:hover, .post-link {
  color: #a44813;
}

/* selected link */
a:active, .post-link {
  color: #a44813;
}

.site-nav {
    padding: 24px 48px;
}

.site-nav .page-link:hover,
.site-nav .trigger > a:hover {
    padding: 8px 16px;
    border-radius: 8px;

    background: radial-gradient(
        ellipse at center,
        rgba(255, 255, 255, 0.95) 0%,
        rgba(255, 255, 255, 0.85) 40%,
        rgba(255, 255, 255, 0.4) 70%,
        rgba(255, 255, 255, 0) 100%
    );

    transition: all 0.2s ease;
}

.site-title {
    font-size: 35px;
    font-weight: 250;
    line-height: 54px;
    // letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    font-family: 'Allerta Stencil', sans-serif;
    color: #c17d56;

    // Add site logo.
    padding-left: 60px; /* make room for image */
    background-image: url("/images/favicons/web-app-manifest-192x192.png");
    background-size: 54px;
    background-repeat: no-repeat;
    background-position: left center;
}

.site-title:visited {
    color: #a44813;
}

.site-title:hover {
    color: #a44813;
    text-decoration: none;
}

body {
    font-family: 'Abel', sans-serif;
}